.footer {
	.row {
		margin-right: 0;
		margin-left: 0;
		align-items: center;
	}

	.footer__column-1 {
		padding: 1.25rem 3.75rem 0 0.625rem;
		background-color: $gold;
	}

	&__column-2 {
		border: 10px solid $light-gray;
		background-color: $white;
		text-align: center;
	}	
}
