.no-js {	
	body {
		padding-top: 190px;

		@media( min-width: 578px ) {
			padding-top: 130px;		
		}
	}	
	
	.hamburger {
		display: none;
	}	

	.menu {
		display: flex;
    	flex-wrap: wrap;
    	justify-content: flex-end;

    	@media( max-width: 768px ) {	
			margin-top: 4rem;	
			justify-content: center;
		}

		&__link {
			padding: .6rem;
		}
	}	
	
	.carousel {
		height: 410px;
		overflow: scroll;    	

		.carousel-item {
			height: auto;
			float: none;
			display: flex;
		}	

		&-item__description, &-item__img {
			height: 290px;			
		}
	}		

	.carousel-indicators, .carousel-control-prev, .carousel-control-next {
		display: none;
	}	
}
