.carousel-images {		
	.carousel-item {		
		flex-wrap: wrap;
	}

	.carousel-item__description {		
		max-width: 100%;
		padding: 2.25rem 0.625rem;
		flex: 0 0 100%;	
		border: 10px solid $yellow;	
		color: $black;	
		text-align: center;			

		@media (min-width: 768px) {
			max-width: 50%;	
			flex: 0 0 50%;										
		}
	}	

	.carousel-item__title {
		font-size: $heading-m;

		@media (min-width: 768px) {
			font-size: $heading-l;
		}
	}

	.carousel-item__text {
		font-size: $text-xs;

		@media (min-width: 768px) {
			font-size: $text-s;
		}
	}		

	.carousel-item__img {
		margin: 0 auto;
		max-width: 60%;
		flex: 0 0 60%;		

		@media (min-width: 768px) {
			max-width: 37%;
			flex: 0 0 37%;					
		}
	}

	.carousel-item__description, .carousel-item__img {
		height: 270px;

		@media (min-width: 768px) {			
			height: 290px;									
		}
	}

	.carousel-item.active, .carousel-item-next, .carousel-item-prev {
	    display: flex;
	}

	.carousel-control-prev, .carousel-control-next {	
		border: none;
		background-color: transparent;
	}	

	.carousel-control-prev-icon, .carousel-control-next-icon {
		background: url(../img/sprites.png);
		background-repeat: no-repeat;
		width: 18px;
		height: 35px;
	}

	.carousel-control-prev-icon {	
		background-position: -372px -56px;	
	}

	.carousel-control-next-icon{	
		background-position: -394px -56px;
	}	
}
